apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: slack-config
  namespace: monitoring
spec:
  route:
    receiver: "slack-notifications"
  receivers:
  - name: "slack-notifications"
    slackConfigs:
    - channel: "#alerts"  # Your Slack channel
      sendResolved: true
      apiURL:
        name: alertmanager-slack-webhook
        key: slack-url
